/*vv DEBUG BORDERS vv */
/*div,*/ 
/* header, nav, main, footer {
    border: 2px dashed orange;
} */

body {
    /* default is dark theme background and text */
    background-color: #121212;
    color: white;

    /*Aaron added some global defaults vvv*/
    font-family: Helvetica, Arial;
    font-size: 14px;
}

img {
    max-width: 100%;
}

#site-title {
    /* font-size: 34px; */
    text-transform: uppercase;
    /* font-style: oblique; */
    margin-bottom: 8px;
}
#site-title a {
    text-decoration: none;
}
#site-title a:visited{
    text-decoration: none;
    color: #0066cc;
}
#site-title a:hover{
    color: rgb(209, 0, 0);
}

main {
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 10px;
}

header h1 {
    text-align: center;

    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;

    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
}
nav li {

    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:visited {
    color: white;
}
nav a:hover {
    color: red;
}

#archive-name{
    text-align: center;
}


/*vvv CONTENT (on index page!) vvv*/
.content-entry {
    padding: 15px;
    margin-top: 10px;
    max-width: 900px;

    margin-left: auto;
    margin-right: auto;

    background-color: #1d1d1d;
}
.content-entry a {
    color: #4188ec;
    text-decoration: none;
}
.content-title a:visited {
    color: #4188ec;
}
.content-title a:hover {
    color: white;
}

.content-title
{
    font-size: 18px;
}

.content-date {
    color: rgb(170, 170, 170);
}
.content-categories {
    color: rgb(170, 170, 170);
    margin-bottom: 5px;
}
.content-content {
    font-size: 16px;
    line-height: 150%;
}
/* vv for individual content pages */
.content-title-wrapper {
    margin: 0 auto 0 auto;
    text-align: center;
}

.padding-10px {
    padding-bottom: 10px;
}

/*vvv ARCHIVE PAGE STYLE vvv*/
#archive-labels {
    display: flex;
    justify-content: space-between;
    border-bottom: rgb(73, 73, 73) 2px solid;

    padding-bottom: 0;
    margin-bottom: 15px;

    font-size: 1.25em;
}
#archive-labels h6 {
    padding: 0;
    margin: 0;
}
#archive-label-date {
    display: none;
    padding-bottom: 2px;
}
/*
#archive-label-title {

}
#archive-label-category {

}
*/
/* #archive-name {
    font-family: "Times New Roman", Times, serif;
} */
.archive-entry {
    display: flex;
    flex-wrap: nowrap;

    border-bottom: rgb(49, 49, 49) 2px solid;
    padding-bottom: 5px;
    margin-bottom: 15px;

    max-width: 100%;
}
.archive-entry a {
    text-decoration: none;
    /* color: #3f84e4; */
    color: #4188ec;
    padding: 15px 15px 15px 0;
}
.archive-entry a:visited {
    color: #4188ec;
}
.archive-entry a:hover {
    color: red;
}

/* THIS vvv is used for mobile formating only */
.archive-mobile-title-date-container {
    flex-basis: 55%;
}
.archive-mobile-date {
    font-size: .75em;
}

.archive-date {
    display: none;
}
.archive-title {
    order: -1;
    padding-bottom: 4px;
}
.archive-category {
    font-size: .75em;
    margin-left: auto;
    font-size: 1em;
    text-align: right;
    /* text-align: center; */
}

/* vv FOOTER STYLE vv */
footer {
    text-align: center;
}
footer p {
    color: rgb(148, 148, 148);
}

/* ### ### ### */ /* ### ### ### */ /* ### ### ### */
/* vvv DESKTOP LAYOUTS via media queries vvv */

@media (min-width: 800px) {

    main {

        margin: 5px auto 0 auto;
        padding: 2px 15px 5px 15px;
        margin-top: 10px;
        max-width: 800px;

        background-color: #1d1d1d;

    }

}

@media (min-width: 1200px) {

    main {
        max-width: 1200px;
        margin-top: 10px;
    }

    .content-entry {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .content-content {
        font-size: 18px;
    }

    /*vvv ARCHIVE PAGE desktop layout vvv*/
    #archive-labels {
        display: flex;
        justify-content: space-between;
    }
    #archive-label-date {
        display: block;
        margin-right: 15px;
    }
    /* #archive-label-title {

    }
    #archive-label-category {

    } */
    /* vv mobile date is invisible on desktop */
    .archive-mobile-date {
        display: none;
    }

    .archive-entry {
        display: flex;
        justify-content: space-between;

        max-width: 100%;
        align-items: center;
    }
    .archive-entry a {
        padding: 15px 35px 15px 15px;
    }

    .archive-date {
        display: block;
        flex-basis: 200px;
        margin-right: auto;
    }
    /* .archive-title {
        text-align: center;
    } */
    .archive-mobile-title-date-container {
        text-align: center;

    }
    .archive-category {
        font-size: 1em;
        flex-basis: 200px;
        margin-left: auto;
        text-align: right;
    }
}

